Package: com.n00neimp0rtant.sirious
Name: Sirious
Depends: mobilesubstrate
Version: 0.0.3
Architecture: iphoneos-arm
Description: courtesy of n00neimp0rtant
Maintainer: n00neimp0rtant
Author: n00neimp0rtant
Section: Tweaks
